/* variables */
@import 'src/styles/variables';
.fornt-10{
  font-size: 10px;
}
.font-14-bold{
  font: bold 14px Arial, verdana;
}
.chat{
  &__title{
    padding-top: .5rem;
    padding-left: .2rem;
  }
  &__name{
    font: bold 30px Arial, verdana;
    color: $gray;
  }
  &__with{
   @extend .font-14-bold;
    color: $gray;
    padding-right: .2rem;
  }
  &__user-name{
    @extend .font-14-bold;
    text-transform: capitalize;
    color: $m-blue-color;
  }
  &__square-active{
    @extend .fornt-10;
    color: $m-color-lightGrin;
  }
  &__square-unactive{
    @extend .fornt-10;
    color: $gray;
  }
}
