<div class="chat__title">
  <span class="chat__name">Chat </span>
 <span class="chat__with">with</span>
  <span class="chat__user-name">{{'alis kim'}}</span>
  <i class="fa fa-square chat__square-active" aria-hidden="true"></i>
</div>

