<div class="search">
  <i class="fa fa-search search__icon" aria-hidden="true" (click)="search($event)"></i>
  <input type="search" [(ngModel)]="str" class="search__input search__input--border" placeholder="Try find somethink">
</div>
