/* variables */
@import 'src/styles/variables';
:host{
  width: 28%;
}
.search{
  display: flex;
  position: relative;
  height: 50px;

  &__input{
    border: none;
    width: 100%;
    outline: none;
    padding-left: 20px;
  }
  &__input--border{
    border-bottom: 1px solid $m-blue-color;
  }
  &__icon{
    position: absolute;
    line-height: 50px !important;
  }
}
.search:hover,.search:focus{
  border: none;
}
