/* variables */
@import 'src/styles/variables';
.chat{
  &__send-form{
    margin-top: .5rem;
    position: relative;
  }
  &__send-message{
    margin-left: 5%;
    width: 90%;
    border: none;
    outline: none;
  }
}
.input-button{
  cursor: pointer;
  position: absolute;
  right: .4rem;
  bottom: .4rem;
  color: $gray;
}
.line-decorate{
  height: 2px;
  width: 100%;
  border-bottom: 2px solid $m-blue-color;
}
