<div class="chat__send-form">
  <i class="fa fa-paper-plane input-button" aria-hidden="true"></i>
  <input type="text" class="chat__send-message" placeholder="Type some text here">
  <div class="line-decorate"></div>
</div>
