/* variables */
@import 'src/styles/variables';

.container{
  padding: 2rem 1rem 2rem 1rem ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.content{
  @extend .container;
}
/* required */
p, ul{
  margin: 0;
  padding: 0;
}



