:host{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.chat{
  width: 47vw;
  height: 300px;
  margin-right: 35vw;
  display: flex;

}
.wrap{
  width: calc(100% - 150px);
  box-sizing: border-box;
}
