<section class="chat">
  <div class="wrap">
    <!--start chat title-->
    <sell-it-chat-title></sell-it-chat-title>
    <!--end chat title-->
    <!--start chat-messages-list-->
    <sell-it-chat-messages-list></sell-it-chat-messages-list>
   <!--end chat-messages-list-->
    <!--start chat input-->
    <sell-it-chat-input></sell-it-chat-input>
    <!--end chat input-->
  </div>
  <!--start chat-connect -->
  <sell-it-chat-connect-list></sell-it-chat-connect-list>
  <!--end chat-connect-->

</section>
