
@media only screen and (min-width: 320px){
  .my-btn-defoult{
    background: rgba(255, 255, 255, 0.5);
  }
  .register__form-input{
    color: black;
    background: rgba(255, 255, 255, 0.5);
    /*background: rgba(0, 0, 0, 0.31);*/
  }
  .background{
    display: none;
  }
  .register{
    background: url(../../assets/img/bg-pgone.jpg) no-repeat;
    background-size: cover;
    width: 100%;

    &__form-input::placeholder {
      color: black;
    }
  }
}
@media only screen and (min-width: 480px){

  .my-btn-defoult{
    background: #f2f2f2;
  }
  .background{
    display: block;
  }
  .register{
    background: $m-blue-color;
    width: 50%;

    &__form-input::placeholder {
      color: $reg-page-color;
    }
  }
  .register__form-input{
    color: $reg-page-color;
    background: none;
  }
  .seill-it{
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 768px){
}
@media only screen and (min-width: 992px) {
  .register{
    min-width: 380px;
    max-width: 380px;
  }

  .background{
    width: calc(100vw - 380px);
  }
}
@media only screen and (min-width: 1200px) {
  .content_page{
    justify-content: center;
  }
}
