.my-btn-defoult{
  padding: .4rem .4rem;
  width: 40%;
  background: #f2f2f2;
  border: none;
  border-bottom: 3px solid $reg-page-color;
  outline: none;
  transition: all .4s ease-out;
}
.my-bth-def-hover{
  border-bottom: 3px solid #91d763;
}
.my-bth-def-focus{
  outline: none;
}

.bloc-containt{
  display: flex;
}
.background{
  background: url("../../assets/img/reg-bg.jpg") no-repeat;
  height: calc(100vh - 60px);
  width: calc(100vw - 50%);
  background-position: left 79%;
  background-size: cover;

}
.register{
  background: $m-blue-color;
  width: calc(100vw - 50%);
  height: calc(100vh - 60px);

  &__form{
    margin-top: 6.2vh;
    padding: 0 25px 0 25px;
  }

  &__btn{
    display: flex;
    justify-content: space-between;
  }

  &__sing-in{
    @extend .my-btn-defoult;
  }
  &__sing-up{
   @extend .my-btn-defoult;
  }
  &__sing-up:hover{
    @extend .my-bth-def-hover;
  }
  &__sing-in:hover{
    @extend .my-bth-def-hover;
  }
  &__form-input{
    margin-top: 4vh;
    background: none;
    width: 100%;

    border: none;
    outline: none;
    border-bottom: 3px solid $reg-page-color;
  }
  &__sing-up:focus{
    @extend .my-bth-def-focus;
  }
  &__sing-in:focus{
    @extend .my-bth-def-focus;
  }

  &__login{
    margin-top: 6vh;
    @extend .my-btn-defoult;
  }
  &__login:hover{
    @extend .my-bth-def-hover;
  }
  &__login--size{
    width: 100%;
  }
  &__login:focus{
    @extend .my-bth-def-focus;
  }
}
.seill-it{
  margin: 0 auto;
  background: $m-blue-color;
  display: flex;

  &__images{
    display: inline-block;
    width: 151px;
    height: 63px;
    margin: 0 auto;
    background: url("../../assets/img/sell_it.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

}
