
.content_page{
@extend .container;
}
.slider{

}
.content_page__characteristics{
    padding-left: 2rem;
}
.descriptions{

  &__product{
     padding-top: 20px;
     font: 18px Arial, Verdana;
 }

&__tittle--font{
     font: normal 32px Myriad;
 }
&__product--font-32{
     font: bold 32px Arial, Verdana;
 }
&__product--color-blue{
     color: $m-blue-color;
 }
&__product--color-lightGrin{
     color: $m-color-lightGrin;
 }
&__list >li{
     padding-left: 30px;
     font-weight: bold;
     list-style-type: none;
 }
&__list >li:before{
     content: '-';
 }

}