<div class="wrapper">
  <main class="bloc-containt">
    <section class="background">
    </section>
    <section class="register">
      <div class="seill-it">
        <a href="#" class="seill-it__images">
        </a>
      </div>
      <form name="reg-form" class="register__form">
        <div class="register__btn">
          <button class="register__sing-in">Sing In</button>
          <button class="register__sing-up">Sing Up</button>
        </div>
        <input class="register__form-input" type="email" name="email" placeholder="Email">
        <input class="register__form-input" type="password" name="password" placeholder="Password">
        <div class="register__btn">
        <button class="register__login register__login--size">Sing In</button>
        </div>
      </form>
    </section>

</main>
</div>
<!--end wrapper-->
<!--start footer-->
<sell-it-footer></sell-it-footer>
<!--end footer-->
