/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'src/styles/variables';
@import "~bootstrap/scss/bootstrap";
/*nav {
  margin-top: 16px;
}*/
html{
  font-size: 16px;
}
html,body{
  height: 100%;
  margin: 0;
}
/*nav a {
  background-color: black;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}*/
