<!--button toggle-->
<div class="toggle">
  <a class="toggle__button" sellItUserBlock>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </a>
</div>
<!--end button toggle-->
<div class="user-data">
  <div class="user-data__actions">
    <a href="#" class="user-data__new-post user-data--border-grey">add new post</a>
    <a href="#" class="user-data__profile user-data--border-grey">Profile</a>
  </div>
  <div class="user-data__block">
    <a href="#" >
      <img [src]="homeDirectory + '/user.gif'" class="img-responsive user-data__img" alt="user_photo">
    </a>
    <a href="#" class="user-data__name">
      Kim Evans
    </a>
  </div>
  <a [routerLink]="['/login']">
    <i class="fa fa-sign-out user-data__logout" aria-hidden="true"></i>
  </a>
</div>
