/* variables */
@import 'src/styles/variables';
:host{
  width: 100%;
}
.toggle{
  width: 20%;
  background: $m-blue-color ;
  display: flex;
  justify-content: flex-end;

  &__button{
    display: block;
    color: $m-text-color !important;
    font-size: 26px;
    padding-right: 20px;
    line-height: 60px;
  }

}
.user-data{
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: $m-blue-color;
  position: relative;
  cursor: pointer;
  display: flex;
  opacity: 0;
  transition: all .4s ease-out;

  &__block{
    display: flex;
    width: 200px;
    align-items: center;
  }
  &__img{
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: all .4s ease-out;
  }
  &__img:hover{
    transform: scale(1.1);
  }

  &__name{
    color: $m-text-color;
    font: bold 16px Arial, Verdana;
    margin-left: 10px;
    transition: .4s ease-out;
    text-decoration: none !important;
  }
  &__name:hover{
    color: $gray;
  }
  &__logout{
    margin-right: 20px;
    color: $m-text-color;
    font-size: 24px !important;
    transition: .4s ease-out;
  }
  &__logout:hover{
    color: $gray;
  }

  &__actions{


    background: $m-blue-color;
    width: 100%;
    height:100%;
    position: absolute;

    z-index: 5;
    transition: .5s ease-out;
  }
  &__actions > a{
    font: 16px Myriad;
    color: $m-text-color;
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    transition: .2s ease-out;
  }
  &__actions > a:hover,&__actions > a:focus{
    background: darken($m-blue-color, 4%);
    border-left: 5px solid $gray;
    font-size: 20px;
    text-decoration: none;
  }
}
.user-data:before{
  content: '';
  position: absolute;
  height: 100%;
  border-left: 5px solid $m-blue-color;
  transition: .4s ease-out;
}
.user-data:hover.user-data:before{
  border-color: $gray;
}
.user-data:hover .user-data__actions{
  top: 60px;
  left: 0;
  opacity: 1 !important;
}
.show{
  opacity: 1 ;
}
@media only screen and (min-width: 320px){

  .user-data__actions{
    left: 0;
    top: 60px;
    display: flex;
  }
  .toggle{
    margin-top: 20px;
    width: 100%;
    z-index: 55;
  }
}
@media only screen and (min-width: 480px){
  .toggle{
    margin-top: 20px;
    width: 100%;
  }
  .register__form-input{
    color: $reg-page-color;
    background: none;
  }
}
@media only screen and (min-width: 768px){
  :host{
    width: 380px;
  }
  .toggle{
    display: none;
  }

  .user-data{
    opacity: 1;
    max-width: 380px;
    min-width: 380px;
  }

  .user-data__actions{
    opacity: 0;
    top: 0;
    left: 380px;
  }

  .register{
    min-width: 380px;
    max-width: 380px;
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
