<section class="chat__side-connected">
  <p class="connect">Connected</p>
 <!--start chat-connect-item-->
  <sell-it-chat-connect-item></sell-it-chat-connect-item>
  <!--end chat-connect-item-->
</section>
