@font-face {
  font-family: 'Myriad';
  src:  url('./../../assets/fonts/myriad/MyriadPro-Regular.eot?f0akox');
  src:  url('./../../assets/fonts/myriad/MyriadPro-Regular.eot?f0akox#iefix') format('embedded-opentype'),
  url('./../../assets/fonts/myriad/MyriadPro-Regular.ttf?f0akox') format('truetype'),
  url('./../../assets/fonts/myriad/MyriadPro-Regular.woff?f0akox') format('woff'),
  url('./../../assets/fonts/myriad/MyriadPro-Regular.svg?f0akox#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
