
@media only screen and (min-width: 320px){
  .my-btn-defoult{
    background: rgba(255, 255, 255, 0.5);
  }
  .register__form-input{
    color: black;
    background: rgba(255, 255, 255, 0.5);
    /*background: rgba(0, 0, 0, 0.31);*/
  }
  .background{
    display: none;
  }
  .user-data__actions{
    left: 0;
    top: 60px;
    display: flex;
  }
  .descriptions{
    width: 90vw;
  }
  .toggle{
    margin-top: 20px;
    width: 100%;
    z-index: 55;
  }
  .head{
    justify-content: space-around;
  }
  .content__characteristics{
    width: 90vw;
  }
}
@media only screen and (min-width: 480px){
  .toggle{
    margin-top: 0;
    width: 20%;
  }
  .head{
    justify-content: space-between;
  }
  .my-btn-defoult{
    background: #f2f2f2;
  }
  .background{
    display: block;
  }
  .register{
    background: $m-blue-color;
    width: 50%;

    &__form-input::placeholder {
      color: $reg-page-color;
    }
  }
  .register__form-input{
    color: $reg-page-color;
    background: none;
  }
  .seill-it{
    margin-top: 5vh;
  }
}
@media only screen and (min-width: 768px){


}
@media only screen and (min-width: 992px) {
  .toggle{
    display: none;
  }
  .user-data{
    opacity: 1;
    max-width: 380px;
    min-width: 380px;
  }
  .user-data__actions{
   opacity: 0;
    top: 0;
    left: 380px;
  }
  .content_page__characteristics{
    width: 35vw;
  }
  .descriptions{
    width: 40vw;
  }
  .register{
    min-width: 380px;
    max-width: 380px;
  }
  .background{
    width: calc(100vw - 380px);
  }
}
@media only screen and (min-width: 1200px) {
  .content_page{
    justify-content: center;
  }
}
