/* variables */
@import 'src/styles/variables';
@import "font";

html{
  font-size: 16px;
}
html,body{
  height: 100%;
  margin: 0;
}

.container{
  padding: 5rem 1rem 5rem 1rem ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
.wrapper:after{
  content: '';
  height: 60px;
}
.size_by_product{
  width: 22.2vw;
  min-width: 200px;
  overflow: hidden;
}
.first_letter{
  text-transform: capitalize;
}

p, ul{
  margin: 0;
  padding: 0;
}

/*
.head
*/

.content{
  @extend .container;
}

@import "single-page";


@import "media";
.visible_opacity{
  opacity: 0;
}
.show{
 opacity: 1 ;
}
.hidden{
  display: none;
}
.font-bold{
  font-weight: bold;
}
.font-italic{
  font-style: italic;
}

.chat{
  margin-bottom: 6rem;
}
