<div class="wrapper">
  <!--start header-->
  <sell-it-header></sell-it-header>
  <!--end header-->
  <!--content_page-->
  <section class="content_page">
    <div class="content_page__slider">
      <div class="slider">
        <img [src]="homeDirectory + '/slid1.jpg'" alt="slid">
      </div>
    </div><!-- end content_page__slider-->
    <div class="content_page__characteristics">
      <section class="descriptions">
        <h2 class="descriptions__tittle descriptions__tittle--font">
          Some title text must be here maybe second  line
        </h2>
        <p class="descriptions__product">
          from
          <span class="descriptions__product descriptions__product--color-blue">
            Alis Kim
          </span>
          <span class="descriptions__product descriptions__product--color-lightGrin descriptions__product--font-32">
            18 000$
          </span>
        </p>
        <p class="descriptions__product descriptions__product-font-normal">
          Some description text from WYSIWYG editer
        </p>
        <p class="descriptions__product">
          Can be
          <span class="descriptions__product font-bold">
            BOLD
          </span>
          <span class="descriptions__product font-italic">
            Italic
          </span>
        </p>
        <p class="descriptions__product font-bold">
          Can have  list:
        <ul class="descriptions__list font-bold">
          <li>first</li>
          <li>second</li>
        </ul>
        <p class="descriptions__product">
          And anything from WYSIWYG editor
        </p>
        <p class="descriptions__product">
          <span class=" descriptions__product font-bold">Some line</span><br/>
          <span>Some line</span><br/>
          <span class=" descriptions__product font-italic">Some  line</span>
        </p>
        <p class=" descriptions__product font-bold">
          Finished on this line.
        </p>
      </section> <!--end descriptions-->
    </div>  <!--end content_page__characteristics-->
  </section> <!--end content_page-->
  <!--start chat-->
 <!-- <sell-it-chat class="chat"></sell-it-chat>-->
  <!--end chat-->
</div>
<!--start footer-->
<sell-it-footer></sell-it-footer>
<!--end footer-->
