.button-up{
  position: fixed;
  right: 30px;
  bottom: 45px;
  cursor: pointer;
  font-size: 50px;
  color: #000;
  opacity: 0;
  transition: .4s;
  z-index: 666;
}
.button-up:hover{
  transform: scale(1.2);
}
.button-up__visibility{
  opacity: .7;
}

