/* variables */
@import 'src/styles/variables';


footer{
  margin-top: -60px;
}
.footer{
  width: 100%;
  height: 60px;
  background: $m-blue-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text{
    margin: 0;
    font: bold 16px Arial;
    color: $m-text-color;
    text-align: center;
  }
}
