<footer>
  <!--start button-up-->
  <sell-it-button-up></sell-it-button-up>
  <!--end button-up-->
  <div class="footer">
    <p class="footer__text">
      2017 - front-end labs Light IT
    </p>
  </div>
</footer>
