/* variables */
@import 'src/styles/variables';
.flex{
  display: flex;
  margin-bottom: .3rem;
}
p{
  margin: 0;
  padding: 0;
}

.chat{
  &__message{
    height: 10rem;
    overflow: auto;
    margin-top: 3rem;
  }
  &__from-other{
    @extend .flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: .3rem;

  }
  &__from-my{
    @extend .flex;
    justify-content: flex-end;
    margin-left: 10%;
    align-items: center;
    margin-right: .3rem;
  }
  &__user-img{
    height: 25px;
    width: 25px;
    border-radius: 50%;

  }
  &__from-message-other{
    max-width: 80%;
    padding: 0 .3rem 0 .3rem;
    border-right: 5px solid $m-blue-color;
  }
  &__from-message-my{
    padding: 0 .3rem 0 .3rem;
    max-width: 100%;
    border-left: 5px solid $m-blue-color;
  }
}
.order-1{
  order: 1;
}
.order-0{
  order: 0;
}
