<div class="chat__from-other">
  <img class="chat__user-img" [src]="homeDirectory + 'user1.png'" alt="user_other">
  <p class="chat__from-message-other">message from other Lorem ipsum dolor sit.</p>
</div>
<div class="chat__from-my">
  <img class="chat__user-img order-1" [src]="homeDirectory + 'user2.png'" alt="my">
  <p class="chat__from-message-my order-0"> my message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facilis harum nemo numquam quidem quod.</p>
</div>
<div class="chat__from-other">
  <img class="chat__user-img" [src]="homeDirectory + 'user1.png'" alt="user_other">
  <p class="chat__from-message-other">message from other Lorem ipsum dolor sit.</p>
</div>
<div class="chat__from-my">
  <img class="chat__user-img order-1" [src]="homeDirectory + 'user2.png'" alt="my">
  <p class="chat__from-message-my order-0"> my message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error id nam ratione totam? Debitis, dicta?</p>
</div>
<div class="chat__from-other">
  <img class="chat__user-img" [src]="homeDirectory + 'user1.png'" alt="user_other">
  <p class="chat__from-message-other">message from other Lorem ipsum dolor sit.</p>
</div>
<div class="chat__from-my">
  <img class="chat__user-img order-1" [src]="homeDirectory + 'user2.png'" alt="my">
  <p class="chat__from-message-my order-0"> my message Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, beatae debitis eveniet expedita obcaecati quae.</p>
</div>
