
.wrapper{
  min-height: 100%;
  overflow: hidden;
}
.wrapper:after{
  content: '';
  height: 60px;
}

@media only screen and (min-width: 320px){
}
@media only screen and (min-width: 480px){
}
@media only screen and (min-width: 768px){
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}

