<div class="wrapper">
  <!--start header-->
  <sell-it-header></sell-it-header>
  <!--end header-->
  <!--start product-list-->
  <sell-it-product-list></sell-it-product-list>
  <!--end product-list-->
</div>
<!--end wrapper-->
<!--start footer-->
<sell-it-footer></sell-it-footer>
<!--end footer-->
