/* variables */
@import 'src/styles/variables';
/* required */
p, ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
:host{
  padding: 5rem 1rem 1rem 1rem ;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.size_by_product{
  width: 22.2vw;
  min-width: 200px;
  overflow: hidden;
}

.product{
  @extend .size_by_product;
  margin: 0 .3rem 1.5rem .3rem;

  &__link{
    @extend .size_by_product;
    display: block;
  }

  &__image{
    @extend .size_by_product;
    transition: all .4s ease-out;
  }
  &__image:hover{
    transform: scale(1.1);
  }
  &__details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background: $m-blue-color;
    transition: .4s ease-out;
  }
  &__details:hover{
    background: darken($m-blue-color, 10%);
  }
  &__tittle{
    font: bold 18px Arial, Verdana;
    color: $m-text-color;
    padding-left: 15px;
  }
  &__more{
    margin-right: 15px;
    font-size: 20px;
    color: $m-text-color;
    transition: .4s ease-out;
  }
  &__more:hover{
    color: lighten(#A6FFAC, 5%);
  }
  &__more:focus{
    color: #dadada;
  }
}

@media only screen and (min-width: 320px){
}
@media only screen and (min-width: 480px){
}
@media only screen and (min-width: 768px){
  :host{
    padding: 0rem 1rem 1rem 1rem ;
  }
}
@media only screen and (min-width: 992px) {
}
@media only screen and (min-width: 1200px) {
}
