<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product0.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product1.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product2.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product3.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product0.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product1.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product2.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product3.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product0.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product1.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product2.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>
<figure class="product">
  <a href="#" class="product__link">
    <img [src]="homeDirectory +'/product3.jpg'" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <p class="product__tittle"><span class="first_letter">product title</span></p>
    <a href="#" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>
  </figcaption>
</figure>

<figure class="product" *ngFor="let item of products">
  <a [routerLink]="['details', item.id]" class="product__link">
    <img [src]="item.photo[0].photo" class="product__image" alt="name-product">
  </a>
  <figcaption class="product__details">
    <a [routerLink]="['details', item.id]">
      <p class="product__tittle"><span class="first_letter">{{item.title | myReduceWords}}</span></p>
    </a>
    <a [routerLink]="['details', item.id]" class="product__more"><i class="fa fa-eye" aria-hidden="true"></i></a>


  </figcaption>
</figure>
