
@media only screen and (min-width: 320px){

  .user-data__actions{
    left: 0;
    top: 60px;
    display: flex;
  }

  .toggle{
    margin-top: 20px;
    width: 100%;
    z-index: 55;
  }

  .head{
    justify-content: space-around;
  }

}
@media only screen and (min-width: 480px){
  .toggle{
    margin-top: 0;
    width: 20%;
  }

  .head{
    justify-content: space-around;
  }

  .register__form-input{
    color: $reg-page-color;
    background: none;
  }
}
@media only screen and (min-width: 768px){
  .head{
   justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .toggle{
    display: none;
  }

  .user-data{
    opacity: 1;
    max-width: 380px;
    min-width: 380px;
  }

  .user-data__actions{
   opacity: 0;
    top: 0;
    left: 380px;
  }

  .register{
    min-width: 380px;
    max-width: 380px;
  }
}
@media only screen and (min-width: 1200px) {
}
