/* variables */
@import 'src/styles/variables';

.head{
  width: 100%;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  &__logo{
    padding-left: 3%;
    padding-top: 10px;
    transition: all .5s 0.1s ease-in;
  }
  &__logo--cursor{
    cursor: pointer;
  }

  &__logo--size{
    width: 115px;
    height: 40px;
  }
  &__logo:hover{

    transform: rotate(360deg);
  }
}


@import "media";
