<!--header-->
<header class="head">
  <div class="head__logo">
    <a [routerLink]="['/']" class="head__logo--cursor">
      <img [src]="homeDirectory + '/logo1.gif'" class="head__logo--size" alt="logo">
    </a>
  </div>
  <!--start search block-->
  <sell-it-search></sell-it-search>
  <!--end search block-->
 <!--start user-block-->
  <sell-it-user-block></sell-it-user-block>
 <!--end user-block-->
</header>
<!--end header-->


